/*
how am I supposed to live, laugh, love in this environment? 
*/
body {
    background-color: lightblue;
}


#main {
    background-color: green;
    max-width: 90%;
    left: 0;
    text-align: center;
}

/**/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #d63c89;
    color:rgb(5, 0, 0);
    text-align: center;
    line-height: 3vh;
    font-weight: 100;
    font-size: 1.75vh;   
    letter-spacing: .1em;
    -webkit-text-stroke: 0 white;
}